$enable-rounded: false;
$input-btn-padding-x: 0.5rem;
$input-btn-padding-y: 0.25rem;
$nav-link-padding-x: 0.5rem;
$nav-link-padding-y: 0.125rem;
$card-spacer-x: 0.5rem;
$card-spacer-y: 0.25rem;

@import '../node_modules/bootstrap/scss/bootstrap';

#app {
  width: 100vw;
  height: 100vh;
}
