$enable-rounded: false;
$input-btn-padding-x: 0.5rem;
$input-btn-padding-y: 0.25rem;
$nav-link-padding-x: 0.5rem;
$nav-link-padding-y: 0.125rem;
$card-spacer-x: 0.5rem;
$card-spacer-y: 0.25rem;

@import '../node_modules/bootstrap/scss/bootstrap';

#app {
  width: 100vw;
  height: 100vh;
}

@font-face {
  font-family: 'SAP-icons';
  src: url('../node_modules/@sap-theming/theming-base-content/content/Base/baseLib/sap_horizon/fonts/SAP-icons.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BusinessSuiteInAppSymbols';
  src: url('../node_modules/@sap-theming/theming-base-content/content/Base/baseLib/sap_horizon/fonts/BusinessSuiteInAppSymbols.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SAP-icons-TNT';
  src: url('../node_modules/@sap-theming/theming-base-content/content/Base/baseLib/sap_horizon/fonts/SAP-icons-TNT.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}
